In [1]:
# import libraries
import pandas as pd
df = pd.read_csv('mldata.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

In [2]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df.head()

   age  weight  gender likeness   height
0   27    76.0       1  Biryani  170.688
1   41    70.0       1  Biryani      165
2   29    80.0       1  Biryani      171
3   27   102.0       1  Biryani      173
4   29    67.0       1  Biryani      164

In [3]:
# selection of input and output variable
X = df[['weight', 'gender']]
y = df['likeness']

In [4]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [5]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [6]:
# Machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

#create and fit our model

model = DecisionTreeClassifier().fit(X,y)

# prediction
model.predict([[80,1]])  # 80 year male like biryani according to the preidiction of our model

array(['Biryani'], dtype=object)

In [7]:
# how to measure the accuracy  of our model
## split data into test and train  (80/20)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0) # 80% training data and 20% testing data 

#create a model
model = DecisionTreeClassifier()
# fitting the model
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

array(['Biryani', 'Biryani', 'Pakora', 'Biryani', 'Samosa', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Samosa',
       'Samosa', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [8]:
# #checking a score
score = accuracy_score(y_test, predicted_values)
score

0.6122448979591837

In [9]:
# How to train and save your model

import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
import joblib

model = DecisionTreeClassifier().fit(X,y)

joblib.dump(model, "foodie.joblib")

['foodie.joblib']

# Assignment 
## How to import/run a stored or saved model on our data

In [10]:
# graph
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)
# graphic evaluation/ look into what happend
tree.export_graphviz(model,
                    out_file="foodie.dot",
                    feature_names=['age', 'gender'],
                    class_names=sorted(y.unique()),
                    label='all',
                    rounded=True,
                    filled=True)